  <div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>
  </div>
  <button (click)="checkValue()">Check</button>
  {{checkValue}}